/* flipdish */ 
.case.noviscient header {
	background-color: #0072BC;
	height: 50vw;
	margin-bottom: 16vw;
	background-image: url('../images/head-net.png'), url('../images/cases/noviscient/head-bg-3.jpg');
	background-repeat: repeat, no-repeat;
	background-position: center, center;
	background-size: auto, cover;
	overflow: visible;
}

.case.noviscient header .case_intro .case_description {
	margin-right: 18vw;
}

.case.noviscient header .case_intro .screenshot_x {
	background-size: 98% 100%;
}

.case.noviscient header .case_intro .screenshot_x .screen {
	position: absolute;
	top: calc(2.625vw + 0.3vw);
	left: calc(2vw + 1.9vw);
	width: 22vw;
}

.case.noviscient header .case_intro .screenshot_x .frame {
	margin-left: 1.9vw;
}

.case.noviscient header .case_intro .case_description h1 {
}
.case.noviscient header .case_intro .case_description .icon {
	width: 7.25vw;
	position: relative;
	top: 2.5vw;
	margin-right: 1vw;
}

	.case.noviscient .feature.feature_smart {
		height: 53vw;
		background-color: #43352c;
		background-image: url('../images/cases/noviscient/footer-bg-2.jpg');
		background-size: cover;
		overflow: hidden;
		top: -21.5vw;
	}

	.case.noviscient .feature.feature_smart .description {
		margin-right: 18.75vw;
		margin-left: 54vw;
		padding-top: 17.5vw;
	}

	.case.noviscient .feature.feature_smart ._deco {
		position: absolute;
		left: -15vw;
		bottom: -10vw;
	}
		.case.noviscient .feature.feature_smart ._deco img {
			width: 75vw;
		}

	.case.noviscient .feature .screenshot_12_s .frame {
		width: 20vw;
	}

	.case.noviscient .feature .screenshot_12_s .screen {
		width: 17.5vw;
	}

	.case.noviscient .feature_2 .description_w {
		padding-top: 8vw;
	}

	.case.noviscient main > section:nth-child(3) .feature_1 {
		margin-top: 3vw;
	}

	.case.noviscient main > section:nth-child(3) .description_w {
		padding-top: 4vw;
	}

	.case.noviscient header .case_intro .case_appstore img {
		margin-top: 16vw;
		width: 12.5vw;
	}

.case.noviscient .section_name {
    text-align: center;
}
    .case.noviscient .section_name img {
        display: block;
        width: 1vw;
        margin: 0 auto 0.875vw;
    }
.case.noviscient .section_title {
    text-align: center;
    margin: 0 auto 4vw;
}

.case.noviscient .task_description {
	font-size: 1.5vw;
	line-height: 2.25vw;
	width: 80%;
}

.noviscient_achievments {
}

    .noviscient_achievments ._c {
        margin-bottom: 5vw;
        padding-bottom: 5vw;
        border-style: solid;
        border-width: 0 0 1px;
        border-color: #e5e5e5;
    }

    .noviscient_achievments ._four_columns {
        margin-left: 4vw;
    }

    .noviscient_achievments .noviscient_achievment {
        position: relative;
    }

        .noviscient_achievment img {
            width: 2.25vw;
            margin: 0;
            float: left;
        }

        .noviscient_achievment p {
            margin-left: 3vw;
            margin-top: .5vw;
            color: #9c9c9c;
            width: 65%;
        }



@media screen and (max-width: 500px) {

	/* flipdish */
	.case.noviscient header {
		height: 200vw;
		margin-bottom: 110vw;
	}

	.case.noviscient .feature ._c {
		width: 100vw;
	}

	.case.noviscient header .case_intro .case_appstore a {
		display: none !important;
	}

	.case.noviscient header .case_intro .case_description {
		padding-top: 28vw;
	}

	.case.noviscient header .case_intro .case_description h1 {
		font-size: 9.7vw;
		font-weight: 400;
		position: relative;
		left: 0;
	}
	.case.noviscient header .case_intro .case_description .icon {
		width: 30vw;
		position: relative;
		top: 0;
		left: .5vw;
		margin-right: 0;
	}

	.case.noviscient header .case_intro .case_description .case_statement {
		margin-top: 4vw;
	}

	.case.noviscient header .case_intro .screenshot_x {
		top: 163vw;
		background-size: 97%;
	}

	.case.noviscient header .case_intro .screenshot_x .frame {
		display: block;
		margin: 3vw 0 20vw 6vw;
		width: 70vw;
		height: 139vw;
	}
	.case.noviscient header .case_intro .screenshot_x .screen {
		position: absolute;
		display: block;
		top: 7.5vw;
		left: 11vw;
		width: 60vw;
	}

	.case.noviscient main > section:nth-child(3) .description_w {
		padding-top: 44vw !important;
	}

	.case.noviscient .feature_2 .description_w {
		padding-top: 28vw;
	}

	.case.noviscient main > section:nth-child(3) .feature_1 {
		padding-bottom: 50vw;
		margin-top: 23vw;
	}

	.case.noviscient .feature_1._c {
		overflow: hidden;
		padding-bottom: 20vw;
	}

	.case.noviscient .feature .feature_1 .description_w {
		padding-top: 9vw;
	}

	.case.noviscient .feature.feature_right .screenshot_12_s {
		position: absolute;
		right: 0;
	}

	.case.noviscient .feature.feature_left .screenshot_12_s {
		position: absolute;
		left: -53vw;
	}

	.case.noviscient .feature .screenshot_12_s .frame {
		width: 65vw;
	}

	.case.noviscient .feature .screenshot_12_s .screen {
		width: 58vw;
		top: 3vw;
		left: 3.5vw;
	}

	.case.noviscient main > section:nth-child(3) .screenshot_12_s {
		top: 20vw;
	}

	.case.noviscient .feature.feature_smart .description {
		margin-right: 13vw;
		margin-left: 13vw;
		padding-top: 17.5vw;
	}

	.case.noviscient .feature.feature_smart {
		color: #fff;
		height: 185vw;
		overflow: hidden;
	}

		.case.noviscient .feature.feature_smart ._deco {
			right: -6vw;
			left: auto;
			top: 105vw;
			z-index: 1;
		}
			.case.noviscient .feature.feature_smart ._deco img {
				width: 110vw;
			}

	.case.noviscient .feature.feature_smart .actions {
		text-align: center;
	}
}