@media screen and (max-width: 500px) {

.no_mobile {
	display: none;
}

.only_mobile {
	display: block;
}

.only_mobile_inline {
	display: inline;
}

body {
	font-size: 4.5vw;
	line-height: 5.6vw;
}


h1 {
	font-size: 8vw;
	line-height: 9vw;
}

h2 {
	font-size: 8vw;
	line-height: 8.5vw;
}

/* */

button, a.button {
	padding: 3.15vw 6.3vw;
	border-radius: 1.3vw;
	font-size: 3.15vw;
}

/* */

._c {
	width: 100%;
}

	._three_columns {
		position: relative;
		overflow: hidden;
		width: 100vw;
	}

		._controls {
			position: relative;
			height: 0;
			width: 100%;
			z-index: 9999;
		}

			._controls ._control {
				position: absolute;
				top: 25vw;
				cursor: pointer;
			}
				._controls ._control_left {
					left: 1vw;
				}
				._controls ._control_right {
					right: 1vw;
				}

				._controls ._control img {
					width: 3.7vw;
				}

	.section_name {
		font-size: 3.7vw;
		margin-bottom: 4.6vw;
	}

	.section_title {
		width: 95%;
	}

/* */

.splash header {
	height: 130vw;
}

		.splash header ._deco ._deco_bottom {
			background-image: url('../images/milk-wave.png');
			background-position: left bottom;
			background-size: 300%;
			height: 25vw;
		}

	header .logo {
		top: 5.7vw;
		left: 7.1vw;
		width: 33.3%;
	}

	.splash header .codex {
		width: 93%;
		padding-top: 27vw;
	}

	.splash header .actions {
		margin-top: 9vw;
	}

	.splash header .button {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4.3vw;
		display: block;

	}

	header .menu_burger {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		right: 8.5vw;
		top: 8.5vw;
		z-index: 900;
	}
		header .menu_burger img {
			cursor: pointer;
			width: 7vw;
		}

	header ul.mainmenu {
		display: none;
	}


	header ul.mainmenu.mobilemenu {
		display: block;
		position: absolute;
		z-index: 900;
		width: 90%;
		top: 22vw;
		left: 5%;
		background-color: white;
		color: #3d303c;
		box-shadow: 2px 2px 15px rgba(0,0,0,.2);
		border-radius: 2vw;
	}

		header ul.mainmenu.mobilemenu li {
			display: block;
			text-align: center;
			float: none;
			clear: both;
			margin: 0;
			border-width: 0 0 1px;
			border-style: solid;
			border-color: #e5e5e5;
		}
			header ul.mainmenu.mobilemenu li:last-child {
				border-style: none;
			}

		header ul.mainmenu.mobilemenu li a {
			display: block;
			width: 100%;
			font-size: 4.5vw;
			line-height: 5.6vw;
			font-weight: 600;
			padding: 4vw 0;
		}

main {
}

.slide_services {
	padding-top: 5vw;
}

	.slide_services ._c {
		margin-bottom: 13vw;
		padding-bottom: 13vw;
	}

	.slide_services ._three_columns {
		width: auto;
	}

		.slide_services .service h2 {
			width: 80%;
		}

		.slide_services .service .divider {
			margin: 3.15vw auto 3.15vw;
			width: 3.15vw;
		}

		.slide_services .service p {
			width: 80%;
		}

		.slide_services .service .actions {
			margin-top: 11vw;
		}


.slide_recipe {
	padding-bottom: 11vw;
}

	.slide_recipe .steps {
		margin: 4.375vw 0 7.4vw;
	}

		.slide_recipe .step {
			clear: both;
		}

			.slide_recipe .step .picture {
				float: none;
				width: 100%;
				background-color: #fff;
				padding-top: 2.8vw;
			}

				.slide_recipe .step .picture img {
					display: block;
					width: 36.5vw;
					margin-left: auto;
					margin-right: auto;
				}

			.slide_recipe .step .title {
				margin: 0 auto;
				font-size: 7.5vw;
				line-height: 8.5vw;
				text-align: center;
				background-color: white;
				padding-bottom: 2.8vw;
			}

				.slide_recipe .step .title .bullet {
					width: 5vw;
					top: -6vw;
					left: calc(50% - 2.5vw);
					padding: 0;
					background-color: white;
					border-radius: 3.9vw;
				}
					.slide_recipe .step:first-child .title .bullet {
						padding-top: 0;
						top: -7.8vw;
					}

					.slide_recipe .step .title .bullet img {
						margin: 0;
					}

			.slide_recipe .step .more {
				margin: 0 5% 11.2vw;
				color: #9c9c9c;
				background-color: white;
				padding-bottom: 2.8vw;
			}

	.slide_recipe .recipe_summary {
		font-size: 5.7vw;
		line-height: 7.4vw;
		width: 90%;
		margin: auto;
	}

		.slide_recipe .recipe_summary img {
			width: 10.8vw;
			margin: 0 auto 7.4vw;
		}


.slide_clients {
}

	.slide_clients ._c {
		width: 92vw;
		margin: auto;
		padding-top: 15vw;
	}

	.slide_clients .section_name {
	}

		.slide_clients .section_name img {
			width: 8vw;
			margin: 0 auto 2vw;
		}

	.slide_clients .section_title {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.slide_clients .works_link  {
		margin: 8.5vw auto 11.5vw;
		font-size: 4.5vw;
		line-height: 6vw;
	}

		.slide_clients .works_link a {
			text-decoration: none;
		}
		.slide_clients .works_link a:hover {
			text-decoration: underline;
		}

	.slide_clients ul.clients {
		width: 100%;
	}

		.slide_clients ul.clients li {
			width: calc(46vw - 1px);
			height: calc(46vw - 1px);
		}



.slide_responses {
	padding: 13vw 0;
}

	.slide_responses div.responses {
	}

		.slide_responses ul.responses {

		}
			.slide_responses ul.responses li {
			}

				.slide_responses ul.responses .foto {
				}
				.slide_responses ul.responses .name {
					margin: 1vw auto 2vw;
					font-size: 8vw;
					line-height: 8vw;
					width: 80%;
				}
				.slide_responses ul.responses .occupation {
					font-size: 4.5vw;
					line-height: 5.7vw;
					width: 80%;
				}
				.slide_responses ul.responses blockquote {
					margin: 5.7vw auto;
					width: 80%;
				}


.slide_action_splash {
}

	.slide_action_splash ._c {
		padding: 8.5vw 0;
		height: auto;
		width: 92vw;
		margin: auto;
	}

	.slide_action_splash .action {
		float: none;
		width: 100%;
	}

	.slide_action_splash .content {
		margin-right: 0;
		margin-left: 0;
		text-align: center;
		font-size: 8vw;
		line-height: 10vw;
		margin-bottom: 6vw;
	}

		.slide_action_splash .content img {
			display: block;
			margin: 0 auto 3vw;
			width: 8.5vw;
		}


footer {
	margin: 2.5vw 0 0;
	padding-top: 8.5vw;
	height: auto;
	font-size: 4vw;
	line-height: 4.8vw;
}

	footer ._c {
		width: 92vw;
		margin: auto;
	}


	footer ul.mainmenu {
		position: relative;
		top: 0;
		left: 0;
		margin: 0;

		font-size: 3.4vw;
		border-width: 0 0 1px;
		border-style: solid;
		border-color: #343334;
	}

		footer ul.mainmenu li {
			margin-right: 5vw;
			margin-left: 5vw;
			margin-bottom: 5vw;
			text-transform: uppercase;
		}


	footer .social {
		position: static;
		float: right;
		width: calc(50% - 2vw);
		margin-right: 2vw;
	}

		footer .social a {
			margin: 5vw .5vw 0 0;
		}

		footer .social a img {
			width: 8vw;
			height: 8vw;
		}

	footer .contacts {
		margin-top: 5vw;
		margin-bottom: 5vw;
		margin-left: 5vw;
		margin-right: 50%;
		position: static;
		width: auto;
		text-align: left;
	}

	footer .copyrights {
		margin-left: 5vw;
		padding-top: 0;
		margin-top: 5vw;
		margin-bottom: 3vw;
	}

	footer .credits {
		margin-left: 5vw;
		position: static;
		width: auto;
		padding-bottom: 5vw;
	}

/* cases */

	.case header ._deco ._deco_bottom {
		background-image: url('../images/milk-wave.png');
		background-position: left bottom;
		background-size: 300%;
		height: 25vw;
	}


	.case header .case_intro {
		position: relative;
		z-index: 300;
	}

		.case header .case_intro .screenshot {
			position: absolute;
			top: 110vw;
			left: 0;
			width: 100%;
			background-image: url('../images/cases/fithit/phone-shadow.png');
			background-repeat: no-repeat;
			background-position: top left;
			background-size: 113%;
		}

			.case header .case_intro .screenshot .frame {
				display: block;
				margin: 0 0 20vw 8vw;
				width: 80vw;
				height: 170vw;
			}
			.case header .case_intro .screenshot .screen {
				position: absolute;
				display: block;
				top: 20vw;
				left: 15vw;
				width: 65vw;
			}

		.case header .case_intro .case_description {
			margin-left: 8.5vw;
			padding-top: 30vw;
			margin-right: 10vw;
		}

			.case header .case_intro .case_description h1 {
				font-size: 9.7vw;
				font-weight: 400;
				position: relative;
				left: -2vw;
			}
				.case header .case_intro .case_description .icon {
					width: 14.8vw;
					position: relative;
					top: 4vw;
					margin-right: 3vw;
				}

			.case header .case_intro .case_description .case_statement {
				clear: left;
				font-size: 8vw;
				line-height: 9vw;
				margin-top: 8.5vw;
				margin-bottom: 5.5vw;
				font-weight: 400;
			}

	.case header .case_intro .case_appstore img {
		margin-top: 10vw;
		width: 12.5vw;
	}

.case main {
	position: relative;
}

.case .section_name {
	margin: 0 0 3.14vw;
	text-align: left;
	font-size: 3.14vw;
}

.case h2 {
	font-size: 6.2vw;
	line-height: 7vw;
	margin-bottom: 6vw;
}

.case .feature {
	clear: both;
	position: relative;
	z-index: 400;
	font-size: 3.14vw;
	line-height: 4.28vw;
}

	.case .feature ._c {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
	}

	.feature.feature .description {
		padding-top: 0;
	}

	.case .feature_1._c {
		border-color: #e5e5e5;
		border-width: 0 0 1px;
		border-style: solid;
		padding-bottom: 10vw;
		margin-bottom: 10vw;
	}

	.feature .screenshot {
		position: relative;
	}

		.feature .screenshot .frame {
			display: none;
		}
		.feature .screenshot .screen {
			position: static;
			top: 0;
			left: 0;
			width: 40vw;
		}

	.feature .divider {
		display: block;
		margin-top: 2.8vw;
		margin-bottom: 4.2vw;
		width: 2.8vw;
	}

	.feature.feature_right {
	}

		.feature.feature_right .screenshot {
			float: right;
			width: 40vw;
		}

		.feature.feature_right .description {
			margin-right: 46vw;
			margin-left: 2.5vw;
		}

	.feature.feature_left {
	}

		.feature.feature_left .screenshot {
			float: left;
			width: 40vw;
			margin-left: 0;
		}

		.feature.feature_left .description {
			margin-left: 50vw;
			margin-right: 5vw;
		}

	.feature.feature_smart {
		position: relative;
		top: 0;
		margin-top: 10vw;
		margin-bottom: 5vw;
		z-index: 200;
		color: #fff;
		overflow: hidden;
	}

		.feature.feature_smart ._deco {
			position: absolute;
			z-index: 1;
		}
			.feature.feature_smart ._deco img {
			}

		.feature.feature_smart .description {
			position: relative;
			margin-right: 5vw;
			margin-left: 5vw;
			padding-top: 12vw;
			z-index: 100;
		}

			.feature.feature_smart .description p {
				font-size: 4vw;
				line-height: 5.43vw;
				color: inherit;
			}

		.feature.feature_smart .actions {
			margin-top: 14vw;
		}

	/* fithit */
	.case.fithit header {
		height: 200vw;
		margin-bottom: 115vw;
	}

	.case.fithit header .case_intro .case_description h1 {
		font-size: 9.7vw;
		font-weight: 400;
		position: relative;
		left: -2vw;
	}
	.case.fithit header .case_intro .case_description .icon {
		width: 14.8vw;
		position: relative;
		top: 4vw;
		margin-right: 3vw;
	}


	.case.fithit .feature.feature_smart {
		color: #fff;
		height: 185vw;
		background-color: #47bbf6;
		background: linear-gradient(to bottom, #38aef4, #66cbf8);
		overflow: hidden;
	}

		.case.fithit .feature.feature_smart ._deco {
			right: -30vw;
			top: 75vw;
			z-index: 1;
		}
			.case.fithit .feature.feature_smart ._deco img {
				width: 132vw;
			}

	/* flipdish */
	.case.flipdish header {
		height: 200vw;
		margin-bottom: 100vw;
	}

	.case.flipdish header .case_intro .case_description {
		padding-top: 28vw;
	}

	.case.flipdish header .case_intro .case_description h1 {
		font-size: 9.7vw;
		font-weight: 400;
		position: relative;
		left: 0;
	}
	.case.flipdish header .case_intro .case_description .icon {
		width: 30vw;
		position: relative;
		top: 0;
		left: .5vw;
		margin-right: 0;
	}

	.case.flipdish header .case_intro .case_description .case_statement {
		margin-top: 4vw;
	}


	.case.flipdish .feature.feature_smart {
		color: #fff;
		height: 185vw;
		overflow: hidden;
	}

		.case.flipdish .feature.feature_smart ._deco {
			right: -5vw;
			top: 85vw;
			z-index: 1;
		}
			.case.flipdish .feature.feature_smart ._deco img {
				width: 68vw;
			}

	/* olapp */
	.case.olapp header {
		height: 200vw;
		margin-bottom: 100vw;
	}

	.case.olapp header .case_intro .case_description {
		padding-top: 28vw;
	}

	.case.olapp header .case_intro .case_description h1 {
		font-size: 9.7vw;
		font-weight: 400;
		position: relative;
		left: 0;
	}
	.case.olapp header .case_intro .case_description .icon {
		width: 14.8vw;
		position: relative;
		top: 0;
		left: .5vw;
		margin-right: 0;
	}

	.case.olapp header .case_intro .case_description .case_statement {
		margin-top: 4vw;
	}


		.case.olapp .section_name img {
			width: 2.8vw;
			display: block;
		}


	.case.olapp .section_name img {
		
	}

	.olapp_ideas ._c {
		margin-bottom: 12vw;
		padding-bottom: 12vw;
	}

	.olapp_ideas ._four_columns {
		margin-left: auto;
		margin-right: auto;
	}

	.olapp_ideas .olapp_idea {
		text-align: center;
	}

		.olapp_idea img {
			width: 30vw;
			margin-bottom: 3.5vw;
		}

		.olapp_idea h2 {
			margin-bottom: 3.5vw;
		}

		.olapp_idea p {
			color: #9c9c9c;
			width: 80vw;
			margin-left: auto;
			margin-right: auto;
		}

	.case.olapp .feature.feature_smart {
		color: #fff;
		height: 110vw;
		overflow: hidden;
		background-position: 35%;
	}

		.case.olapp .feature.feature_smart ._deco {
			right: -5vw;
			top: 85vw;
			z-index: 1;
		}
			.case.olapp .feature.feature_smart ._deco img {
				width: 68vw;
			}

	.olapp_development {
		margin-bottom: 12vw;
	}

		.olapp_development .olapp_dev_slide {
			width: 80vw;
			margin: 0 auto;
		}

			.olapp_development .olapp_dev_slide img {
				width: 80vw;
			}

			.olapp_development .olapp_dev_slide p {
				margin: 0.875vw auto 0;
				text-align: center;
				color: #9c9c9c;
			}


	/* colorific */
	.case.colorific header {
		height: 160vw;
		margin-bottom: 20vw;
	}


	.case.colorific header .case_intro .screenshot {
		position: absolute;
		top: 100vw;
		left: 0;
		width: 100%;
		overflow: hidden;
		background-image: none;
	}
		.case.colorific header .case_intro .screenshot .frame {
			margin: 0;
			width: 105vw;
			height: auto;
		}
		.case.colorific header .case_intro .screenshot .screen {
			position: absolute;
			top: 7.6vw;
			left: 12vw;
			width: 72vw;
			border: .1vw solid rgba(236,236,236,.7);
		}

	.case.colorific header .case_intro .case_description {
		margin-left: 5vw;
		padding-top: 28vw;
		margin-right: 10vw;
	}

	.case.colorific header .case_intro .case_description h1 {
		font-size: 9.7vw;
		font-weight: 400;
		position: relative;
		left: 0;
	}
	.case.colorific header .case_intro .case_description .icon {
		width: 14.8vw;
		position: relative;
		top: 4vw;
		left: 0;
		margin-right: 2vw;
	}

	.case.colorific header .case_intro .case_description .case_statement {
		margin-top: 8vw;
	}


		.case.colorific .section_name img {
			width: 2.8vw;
			display: block;
		}


	.case.colorific .section_name img {
		
	}


}
